.post-tweet-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.rounded{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#text-input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15pt;
}

.submit-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

.indicator {
    margin: auto 0px;
}

canvas{
    margin: auto 0px;
}


.post-tweet-button {
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 12pt;
    font-weight: 600;
    padding: 13px 18px;
    border: none;
    border-radius: 100px;

}
