<div class="flex-r header">
    <div class="flex-c icon-back">
        <svg>
            <g>
                <path
                    d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z">
                </path>
            </g>
        </svg>
    </div>
    <div class="flex-c user-title">
        <span class="username t_cw t_wb">{{profile_info.username}}</span>
        <span class="tweets-count t_cg t_ss">{{profile_info.tweets_count}} Tweets</span>
    </div>
</div>
<div class="profile">
    <div class="basic-info">
        <div class="user-cover-img">
            <img src="" alt="" srcset="">
        </div>
        <div class="user-info">
            <div class="user-profile img">
                <img src="" alt="" srcset="">
            </div>
            <div class="flex-c user-name-info user-title">
                <span class="username t_cw t_wb">{{profile_info.first_name}} {{profile_info.last_name}}</span>
                <span class="t_cg t_sm">@{{profile_info.username}}</span>
            </div>
            <div class="flex-r user-joined-info">
                <span>
                    <svg>
                        <g><path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032" cy="13.156" r="1.285"></circle><circle cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968" cy="13.156" r="1.285"></circle><circle cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156" r="1.285"></circle><circle cx="7.032" cy="17.486" r="1.285"></circle><circle cx="12" cy="17.486" r="1.285"></circle></g>
                    </svg>
                </span>
                <span class="flex-c t_cg t_sm">Joined {{profile_info.date_joined}}</span>
            </div>
            <div class="follows-count">
                <a href="/following">
                    <span class="t_cw t_wb">{{profile_info.following_count}}</span>
                    <span class="t_cg t_sm ml5">Following</span>
                </a>
                <a class="ml15" href="/followers">
                    <span class="t_cw t_wb">{{profile_info.followers_count}}</span>
                    <span class="t_cg t_sm ml5">Followers</span>
                </a>
            </div>
        </div>
    </div>
    <div class="activity-info">
        <nav class="flex-r">
            <a class="t_cg t_wb t_sm" routerLink="tweets"><span>Tweets</span></a>
            <a class="t_cg t_wb t_sm" routerLink="with-replies"><span>Tweets & replies</span></a>
            <a class="t_cg t_wb t_sm" routerLink="likes"><span>Likes</span></a>
            <a class="t_cg t_wb t_sm" routerLink="media"><span>Media</span></a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>